body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5D5D81;
    color: #D8E4FF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    color: #FEFCFD;
}

.header-title-text {
    font-size: 32px;
    margin: 1%;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.header-title {
    display: flex;
    padding: 0.8%;
    padding-left: 3%;
    flex-direction: column;
}

.header-right-side {
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 24px;
    padding-right: 10%;
}

.header-selection:hover {
    color: #3B3355;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5D5D81;
    min-width: 100%;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: #D8E4FF;
    border-radius: 20px;
    width: 100%;
}

.page-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    padding-top: 1%;
}

.about-me {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    width: 30%;
    gap:20px;
}

.my-work {
    display: flex;
    flex-direction: column;
    padding-right: 3%;
    width:60%;
}

.ts-img {
    border-style: solid;
    border-width: 2px;
    border-color: #849acd;
    border-radius: 20px;
}